/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* globals.css */

/* Reset styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Apply box-sizing border-box to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set body styles */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #fff; /* Default text color */
  background-color: #000; /* Default background color */
}

/* Set links styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Set headings styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

/* Set section spacing */
section {
  padding: 2rem 0;
}

/* Set max-width for container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Dark mode styles */
.dark {
  color: #fff; /* Dark mode text color */
  background-color: #000; /* Dark mode background color */
}
